* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: #1d202b; */
  font-family: "Times New Roman";
}

header {
  display: flex;
  width: 100%;
  position: relative;
}

hr {
  width: 100%;
  margin-left: auto;
  font-weight: inset;
  border-width: 1px;
  border-color: black;
  /* border-style: solid ; */
}
.logo {
  height: 15px;
  padding-top: 10px;
  padding-left: 20px;
  background-image: url(./img/Youtube logo.png);
}

.logo img {
  position: absolute;
  width: 125px;
  height: 37px;
  left: 33px;
  top: 0;
}
.sidebar {
  background-color: #c43535;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 160px;
  /* padding: 5px 5px 10px 0; */
  cursor: pointer;
  height: 100vh;
}

.principal {
  padding: 20px 0 0 20px;
}

.secundario {
  padding: 0 0 0 20px;
}

.subscrip {
  text-align: center;
}

.user {
  /* text-align: start; */
  place-items: start center;
}

.Home:hover {
  background: grey;
  border-radius: 4px;
}

.nav{
  cursor: pointer;
  background: yellow;
}

.conta{
  display: flex;
  position: relative;
  left: 200px;
  top: 40px;
  flex-direction: row;
  gap: 20px;
  border-radius:20px;
}

.card{
/* background: #F2F2F2; */
background: #3d68c4;
display: flex;
flex-direction: column;
position: relative;
}

img{
  /* justify-items: center; */
  padding: 0 10px 0 10px;
  align-items: center;
  width: 275px;
  height: 154px;
  left: 266px;
  top: 125px;
}

.descrip{
  padding: 2px 16px;
  
}