* {
  padding: 0;
  margin: 0;
  color: #fff;
}
body {
  width: 100vh;
  background: #1d202b;
  font-family: "Times New Roman";
}

.padre {
  display: flex;
}

.cont-side {
  position: absolute;
  z-index: 1;
}

header {
  display: flex;
  position: relative;
}

hr {
  width: 100%;
  margin-left: auto;
  font-weight: inset;
  border-width: 1px;
  border-color: black;
}
.logo {
  height: 15px;
  margin-top: 10px;
  /* padding-top: 10px; */
  padding-left: 20px;
  background-image: url(./img/Youtube logo.png);
}

.logo img {
  position: absolute;
  width: 90px;
  height: 30px;
  left: 33px;
  /* top: 500px; */
  top: 0;
  place-content: center start;
  outline: 4px solid #3d68c4;
}
.sidebar {
  background-color: #c43535;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 160px;
  cursor: pointer;
  height: 100vh;
}

.principal {
  padding: 20px 0 10px 20px;
}

.cont-side .sidebar h3:hover {
  background: grey;
  border-radius: 4px;
}


.secundario {
  padding: 10px 0 10px 20px;
}

.subscrip {
  text-align: center;
}

.user {
  /* text-align: start; */
  place-items: start center;
}

.container {
  position: absolute;
}

.nav {
  cursor: pointer;
  background: rgb(108, 23, 148);
  display: flex;
  text-align: end;
  left: 270px;
  gap: 5px;
}

/* .search{
  text-align: center;
}

.logi{
  align-items: end;
} */

.conta {
  display: flex;
  position: relative;
  left: 200px;
  top: 40px;
  flex-direction: row;
  gap: 15px;
  border-radius: 20px;
}

.card {
  /* background: #F2F2F2; */
  background: #3d68c4;
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  /* justify-items: center; */
  /* padding: 0 10px 0 10px; */
  align-items: center;
  width: 275px;
  left: 266px;
  top: 125px;
}

.descrip {
  padding: 2px 16px;
}

.sugeren {
  position: relative;
  left: 200px;
  top: 70px;
  padding-left: 20px;
  width: 853px;
  height: 40px;
  justify-items: center;
  justify-content: center;
  background-color: chartreuse;
  outline: 2px solid #3d68c4;
  border-radius: 5px;
}

.Pq {
  justify-items: center;
}

.conta2 {
  position: relative;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 40px;
  gap: 15px;
  border-radius: 20px;
}

.img2 {
  align-items: center;
  width: 275px;
  left: 266px;
  top: 522px;
}

.ops{
  display: flex;
  gap: 4px;
}

.ops i{
border-radius: 5px;
background: #b6b6b6;
font-weight: bold;
margin: auto;
padding: auto;
}